    .summaryTable td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;

    }


    .summaryTable {
        /* position: relative; */
        width: 100%;
        border-collapse: collapse;
        background-color: #ffffff;
        border: 2px solid #0a589f;
        /* table-layout:fixed; */
        /* float: right; */
    }


    .rotate {

        /*  */
        /* vertical-align: middle; */
        /* writing-mode: vertical-lr; */
        /* text-orientation: sideways; */

    }

    .rotate a {
        text-decoration: none;

    }


    #no_benchmark_data {
        text-align: center;
        border: none !important;
    }

    .classificators_list {
        background-color: #0A58A2;

        border-radius: 8px;
        color: #fff;
        font-size: 1vw;
        padding-left: 25px;
        padding-right: 25px;
        text-align: center;
        width: 20vw;

    }

    .classificators_list:hover {
        background-color: #b3cde0;

    }